[submodule "minpac"]
	path = files/home/.vim/pack/bundle/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "tmux"]
	path = files/home/.tmux
	url = https://github.com/gpakosz/.tmux.git
